@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="span12">
        
        <div data-bind="visible: !hasProfiles()">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh No!</strong> You better connect with some services below!
            </div>
        </div>
        <div data-bind="visible: hasProfiles()">
            <div class="well">
                <h3>Connected Services</h3>
                <ul>
                    <li>loop thru connected service</li>
                </ul>    
            </div>
        </div>

        <h3>Connect To Services</h3>
        <a href="/auth/index/twitter" class="btn btn-primary">Connect With Twitter</a> 
        <a href="/auth/index/linkedin" class="btn btn-primary">Connect With LinkedIn</a> 
        <a href="/auth/index/facebook" class="btn btn-primary">Connect With Facebook</a> 
        <a href="/auth/index/dwolla" class="btn btn-primary">Connect With Dwolla</a>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function() {
            var ViewModel = function (data) {
                console.log(data);
                var self = this;

                ko.mapping.fromJS(data || null, {}, this);

                self.hasProfiles = ko.computed(function() {
                    if (data == null)
                        return false;

                    return true;
                });
            };

            var viewModel = new ViewModel(@Html.Raw(Json.Encode(Model)));
            ko.applyBindings(viewModel);
        });
    </script>   
}